/****************************
 * General
 ***************************/

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #454545;	
  background-color: #fefefe;	
  font-size: 12px;
}

a {
  color: #454545;
}

.float-left {
  float: left;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.spinner {
  width: 50px;
  height: 30px;
  margin: 26px 0 0 50px;
  text-align: center;
  font-size: 10px;
  float: left;
  opacity: 0;
  transition: 500ms;
}

.spinner.show {
  opacity: 1;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  } 20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

button {
	display: inline-block;
	padding: 0 5px;
	height: 20px;
	line-height: 20px;
	background-color: #ccc;
	margin: 10px 5px 0 0;
	border: none;
}

button:hover {
	cursor: pointer;
	background-color: #ddd;
}

button:focus, button:active {
  outline: none;
}

input[type="text"] {
  border: 1px solid #ccc;
  height: 19px;
  line-height: 18px;
  padding: 0 5px;
}

#zoom {
  border-top: 1px solid #ccc;
  margin: 20px 0 0 0;
  padding: 10px 0 0 0;
  display: none;
}

#download {
  display: none;
}

/****************************
 * Wrapper/Container
 ***************************/

header {
	margin: 0 0 30px 0;
	padding: 0 0 30px 0;
	border-bottom: 1px solid #ccc;
}

#wrapper {
	padding: 60px;
}

#svg {
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  margin: 40px 40px 40px 0;
  display: none;
}