/****************************
 * General
 ***************************/

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #454545;	
  background-color: #fefefe;	
  font-size: 12px;
}

a {
  color: #454545;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

button {
	display: inline-block;
	padding: 0 5px;
	height: 20px;
	line-height: 20px;
	background-color: #ccc;
	margin: 10px 5px 0 0;
	border: none;
}

button:hover {
	cursor: pointer;
	background-color: #ddd;
}

button:focus, button:active {
  outline: none;
}

input[type="text"] {
  border: 1px solid #ccc;
  height: 19px;
  line-height: 18px;
  padding: 0 5px;
}

#zoom {
  border-top: 1px solid #ccc;
  margin: 20px 0 0 0;
  padding: 10px 0 0 0;
  display: none;
}

#download {
  display: none;
}

/****************************
 * Wrapper/Container
 ***************************/

header {
	margin: 0 0 30px 0;
	padding: 0 0 30px 0;
	border-bottom: 1px solid #ccc;
}

#wrapper {
	padding: 60px;
}

#svg {
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  margin: 40px 40px 40px 0;
  display: none;
}